<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bionic.sasha.betterenglish">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewWordActivity"
            android:label="@string/title_activity_add_new_word"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OurDictionaryActivity"
            android:label="Trainee Modes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/title_activity_progress"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WriteAuthorActivity"
            android:label="@string/title_activity_write_author"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".traineeModes.TranslateWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppGreenTheme"/>
        <activity
            android:name=".traineeModes.WordTranslateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".traineeModes.DirectlyModeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".traineeModes.LettersModeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ShowLearnedWordsActivity"></activity>
    </application>

</manifest>